html,
body,
.grid-container {
    height: 100%;
    margin: 0;
    font-size: 1.05em;
    background-image: linear-gradient(to right, rgb(93, 255, 255) , rgb(255, 255, 255));
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". info ." ". summary ." ". skills ." ". code ." ". work ." ". education ." ". personal ." ". footer .";
}

.cv {
    grid-area: cv;
}

.cv-data {
    grid-area: cv-data;
}

.info {
    grid-area: info;
}

.summary {
    grid-area: summary;
}

.skills {
    grid-area: skills;
}

.code {
    grid-area: code;
}

.work {
    grid-area: work;
}

.education {
    grid-area: education;
}

.personal {
    grid-area: personal;
}

.footer {
    grid-area: footer;
    min-height: 5em;
    align-content: flex-end;
}


}